* {
  font-family: Inter;
  font-weight: 500;
  text-align: center;
}

header {
  height: 100px;
  background-color: #211182;
  position: relative;
  flex-grow: -1;
}

h1 {
  padding-top: 2%;
  color: #f36767;
  display: inline-flex;
}
.selectors {
  background-color: #f36767;
  border-radius: 6.28px;
  color: #1e0d8c;
  font-size: 17px;
  height: 30px;
  width: 150px;
  display: block;
  margin-right: auto;
  margin-left: auto;
}
.age {
  font-size: 23px;
  color: #1e0d8c;
  padding-top: auto;
  margin: 10px;
}
.results {
  font-size: 30px;
  margin-top: 10px;
  color: #1e0d8c;
  margin-bottom: 10px;
}
h2 {
  color: #f36767 !important;
}

body {
  margin: 0;
}

#birthday {
  padding-top: 15px;
}

.maincontainer {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}

.children {
  display: flex;
  flex-direction: column;
  flex-grow: 0.5;
}

html,
body {
  margin: 0;
  height: 100%;
}

html,
#root {
  margin: 0;
  min-height: 100vh;
}

.fullscreen,
.maincontainer {
  margin: 0;
  min-height: 100vh;
}

#last {
  flex-grow: 0.5;
  overflow: hidden;
  min-width: 10px;
  min-height: 5px;
}
